@import '../../../styles/variables/index.scss';

.header {
    padding: 3px 0 2px 0;
    border-bottom: 1px solid $clr-accent-main;

    &__title {
        text-align: center;
        font-weight: $fw-400;
    }

    .login-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        justify-self: end;
        width: 28px;
        height: 28px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        
        & > svg {
            width: 100%;
            height: 100%;
            fill: $clr-accent-main;

            transition: fill 150ms ease-in;
        }

        &:hover > svg {
            fill: $clr-accent-submain;
        }
    }
}

:host ::ng-deep .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}