body {
    font-family: $ff-main;
    font-style: normal;
    font-weight: $fw-400;
    font-size: $fs-regular;
    line-height: $lh-400;

    background-color: $clr-bg-main;
    color: $clr-text-main;
}