<div
    class="wrapper-drop-section"
    [appToggleClass]="'selected'"
    [condition]="isSelected"
    (click)="sendId()"
>
    <div
        [id]="id"
        class="form-builder-element checkbox-wrapper pl-16"
        name="checkbox"
        #checkbox
        [ngStyle]="styles"
    >   
        <label
            [for]="id"
            [textContent]="styles?.textContent ?? 'Checkbox label'"
            [ngClass]="{'required': styles?.required}"
            class="checkbox-label"
        >
            Checkbox label
        </label>
        <input
            [id]="id"
            type="checkbox"
            disabled
            [required]="styles?.required"
        />
    </div>
</div>
