.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 488px;
    height: 100vh;
    margin-inline: auto;
}
.auth-form {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
}
.auth-form-field {
    margin-bottom: 10px;
    
    & .mat-form-field-flex {
        border-radius: 4px 4px 0px 0px;
    }
}
.auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 30px;
    margin-inline: auto;
    text-align: center;
}