.input-wrapper {
    padding-bottom: 0px;
}
.input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 12px;
    padding-left: 0px;
    padding-bottom: 12px;
    padding-right: 0px;
    border-top: 1px solid $clr-accent-main;
    color: inherit;

    &::placeholder {
        color: inherit;
    }
}
.input-label {
    padding-bottom: 12px;
}