<div
    [id]="id"
    class="wrapper-drop-section"
    [appToggleClass]="'selected'"
    [condition]="isSelected"
    (click)="sendId()"
>
    <div
        [id]="id"
        #textarea
        class="form-builder-element textarea-wrapper align-start"
        [ngStyle]="styles"
    >
        <label
            [for]="id"
            [textContent]="styles?.textContent ?? 'Textarea label'"
            [ngClass]="{'required': styles?.required}"
            class="textarea-label pl-16"
        >
        </label>
        <textarea
            [id]="id"
            class="textarea pl-16"
            [placeholder]="styles?.placeholder ?? 'Textarea placeholder'"
            [required]="styles?.required"
            disabled
        ></textarea>
    </div>
</div>
