$clr-accent-main: #C2D6E1; // accent or brand main color
$clr-accent-submain: #829DAC; // secondary accent or brand color
$clr-text-main: #172933; // main text color
$clr-bg-main: #FFFFFF; // main bg color
$clr-bg-field: #EEF2F4; // bcg color for inputs
$clr-selected: #c2d6e180; // color for selected elements
$clr-hovered: #eef2f466; // color for hovered elements