<div class="auth-page">
    <mat-tab-group
        dynamicHeight
        [formGroup]="authForm"
        (ngSubmit)="onSubmit()"
    >
        <mat-tab label="Sign Up">
            <form
                class="auth-form"
                formGroupName="signup"
            >
                <mat-form-field class="auth-form-field">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        placeholder="Email"
                        name="email"
                        formControlName="email"
                    />
                </mat-form-field>
                <mat-form-field class="auth-form-field">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        placeholder="Password"
                        name="password"
                        formControlName="password"
                    />
                </mat-form-field>
                <mat-form-field class="auth-form-field">
                    <mat-label>User name</mat-label>
                    <input
                        matInput
                        placeholder="User name"
                        name="username"
                        formControlName="username"
                    />
                </mat-form-field>
                <button class="button auth-button" type="submit">Submit</button>
            </form>
        </mat-tab>
        <mat-tab label="Log In">
            <form
                class="auth-form"
                formGroupName="login"
            >
                <mat-form-field class="auth-form-field">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        placeholder="Email"
                        name="email"
                        formControlName="email"
                    />
                </mat-form-field>
                <mat-form-field class="auth-form-field">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        placeholder="Password"
                        name="password"
                        formControlName="password"
                    />
                </mat-form-field>
                <button class="button auth-button" type="submit">Submit</button>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>