<app-section>
    <form
        id="formDropContainer"
        cdkDropList
        [cdkDropListData]="formDropContainer"
        (cdkDropListDropped)="drop($event)"
    >
        <h3 class="form-builder-element">Form label</h3>
        <ng-container
            *ngFor="let formElement of formDropContainer"
        >
            <app-input
                [id]="formElement.id"
                [onClick]="getId"
                [onViewInit]="defineElement"
                cdkDrag
                *ngIf="formElement.type === 'input'"
                [ngStyle]="choosenStyles"
            ></app-input>
            <app-button
                name="button"
                [id]="formElement.id"
                [onClick]="getId"
                [onViewInit]="defineElement" 
                cdkDrag
                *ngIf="formElement.type === 'button'"
            ></app-button>
            <app-textarea
                [id]="formElement.id"
                [onClick]="getId"
                [onViewInit]="defineElement" 
                cdkDrag
                *ngIf="formElement.type === 'textarea'"
            ></app-textarea>
            <app-select-option
                [id]="formElement.id"
                [onClick]="getId"
                [onViewInit]="defineElement" 
                cdkDrag 
                *ngIf="formElement.type === 'select'"
            ></app-select-option>
            <app-checkbox-with-label
                [id]="formElement.id"
                [onClick]="getId"
                [onViewInit]="defineElement"
                cdkDrag
                *ngIf="formElement.type === 'checkbox'"
            ></app-checkbox-with-label>
        </ng-container>

        <button
            type="submit"
            *ngIf="formDropContainer.length"
        >
            Save form
        </button>
    </form>
</app-section>