<app-section>
    <form
        #form
        id="formDropContainer"
        cdkDropList
        [cdkDropListData]="formDropContainer"
        (cdkDropListDropped)="drop($event)"
        [attr.data-type]="formNode"
        [name]="formNode"
    >
        <h3 class="form-builder-element">Form label</h3>
        <ng-container
            *ngFor="let formElement of formDropContainer"
        >
            <app-input
                cdkDrag
                [elementName]="formElement.type"
                [id]="formElement.id"
                [onClick]="selectElement"
                [onViewInit]="defineElement"
                *ngIf="formElement.type === 'input'"
                [attr.data-type]="formElementNode"
            ></app-input>
            <app-button
                cdkDrag
                [elementName]="formElement.type"
                [id]="formElement?.id || ''"
                [onClick]="selectElement"
                [onViewInit]="defineElement" 
                *ngIf="formElement.type === 'button'"
                [attr.data-type]="formElementNode"
            ></app-button>
            <app-textarea
                cdkDrag
                [elementName]="formElement.type"
                [id]="formElement.id"
                [onClick]="selectElement"
                [onViewInit]="defineElement" 
                *ngIf="formElement.type === 'textarea'"
                [attr.data-type]="formElementNode"
            ></app-textarea>
            <app-select-option
                cdkDrag
                [elementName]="formElement.type"
                [id]="formElement.id"
                [onClick]="selectElement"
                [onViewInit]="defineElement" 
                *ngIf="formElement.type === 'select'"
                [attr.data-type]="formElementNode"
            ></app-select-option>
            <app-checkbox-with-label
                cdkDrag
                [elementName]="formElement.type"
                [id]="formElement.id"
                [onClick]="selectElement"
                [onViewInit]="defineElement"
                *ngIf="formElement.type === 'checkbox'"
                [attr.data-type]="formElementNode"
            ></app-checkbox-with-label>
        </ng-container>

        <button
            type="submit"
            *ngIf="formDropContainer.length"
        >
            Save form
        </button>
    </form>
</app-section>